.margin {
    margin: 10px;
}

h2 {
    color: red;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-item {
    border-radius: 5px;
}

.card-item :hover {
    cursor: pointer;
    background-color: rgb(234, 229, 221);
    border-radius: 20px;
}

.text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
